<div class="gtco-loader"></div>
	
	<div id="page">
	<nav class="gtco-nav" role="navigation" id="menu">
    <div class="gtco-container">
      <div class="row">
        <div class="col-md-12 text-right gtco-contact">
          <ul class="">
            <li><i class="ti-mobile"></i> {{ phone }}</li>
            <li><a href="{{ twitter_url }}"><i class="ti-twitter-alt"></i> </a></li>
            <li><a href="{{ email }}"><i class="icon-mail2"></i></a></li>
            <li><a href="{{ facebook_url }}"><i class="ti-facebook"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <div id="gtco-logo">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          {{ page.navigation }}</div>
        </div>
        <div class="col-xs-8 text-right menu-1">
         {{ page.primary_menu }}
        </div>
      </div>
      
    </div>
  </nav>
 {# Main #}
{% block main %}
  <div role="main" class=" js-quickedit-main-content">
  {% if page.slider %}
  {{ page.slider }}
  {% endif %}
    
      {# Header #}
      {% if page.header %}
        {% block header %}
          <div class="col-sm-12" role="heading">
            {{ page.header }}
          </div>
        {% endblock %}
      {% endif %}

      {# Sidebar First #}
      {% if page.sidebar_first %}
        {% block sidebar_first %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endblock %}
      {% endif %}

      <section>

        {# Highlighted #}
        {% if page.highlighted %}
          {% block highlighted %}
            <div class="highlighted">{{ page.highlighted }}</div>
          {% endblock %}
        {% endif %}

        {# Breadcrumbs #}
        {% if breadcrumb %}
          {% block breadcrumb %}
            {{ breadcrumb }}
          {% endblock %}
        {% endif %}

        {# Action Links #}
        {% if action_links %}
          {% block action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endblock %}
        {% endif %}

        {# Help #}
        {% if page.help %}
          {% block help %}
            {{ page.help }}
          {% endblock %}
        {% endif %}

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}
      </section>

      {# Sidebar Second #}
      {% if page.sidebar_second %}
        {% block sidebar_second %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        {% endblock %}
      {% endif %}


   </div>
{% endblock %}

<footer id="gtco-footer" role="contentinfo">
    <div class="gtco-container">
      <div class="row row-p b-md">

        <div class="col-md-4">
          <div class="gtco-widget">
            <h3>{{ aboutus_title}}</h3>
            <p>{{ aboutus_content}}</p>
          </div>
        </div>

        <div class="col-md-4 col-md-push-1">
          <div class="gtco-widget">
            {{ page.footer1 }}
          </div>
        </div>

        <div class="col-md-4">
          <div class="gtco-widget">
            <h3>Get In Touch</h3>
            <ul class="gtco-quick-contact">
              <li><a href="#"><i class="icon-phone"></i>{{ phone }}</a></li>
              <li><a href="{{ email }}"><i class="icon-mail2"></i> {{ email }}</a></li>
              <li><a href="{{ live_chat }}"><i class="icon-chat"></i> Live Chat </a></li>
            </ul>
          </div>
        </div>

      </div>

      <div class="row copyright">
        <div class="col-md-12">
          <p class="pull-left">
            <small class="block">&copy; 2018 Drupal Free Themes. All Rights Reserved.</small> 
            <small class="block">Designed by GetTemplates.co. Drupal Theme By<a href="https://www.drupaldevelopersstudio.com/"> Drupal Developers Studio</a>, A Division of <a href="https://www.youngglobes.com/">Young Globes</a></small>
          </p>
          <p class="pull-right">
            <ul class="gtco-social-icons pull-right">
              <li><a href="{{ twitter_url }}"><i class="icon-twitter"></i></a></li>
              <li><a href="{{ facebook_url }}"><i class="icon-facebook"></i></a></li>
              <li><a href="{{ linkedin_url }}"><i class="icon-linkedin"></i></a></li>
              <li><a href="{{ live_chat }}"><i class="icon-dribbble"></i></a></li>
            </ul>
          </p>
        </div>
      </div>

    </div>
  </footer>
	</div>

	