<li class="{{ content.field_portfolio_box_size.0 }} animate-box" data-animate-effect="fadeIn" style="background-image: url({{ content.field_portfolio_image.0 }}); "> 
							<a href="#" class="{{ content.field_portfolio_box_color.0 }}">
								<div class="case-studies-summary">
									<span>{{ content.field_portfolio_title.0 }}</span>
									<h2>{{ content.field_portfolio_description.0 }}</h2>
								</div>
							</a>
						</li>