  
<div class="feature {{ content.field_services_type_.0 }} animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
						<i class="{{ content.field_services_icons.0 }}"></i>
						</span>
						<h3>{{ content.field_service_title.0 }}</h3>
						<p>{{ content.field_services_description.0 }} </p>
						<p><a href="#" class="btn btn-white btn-outline">{{ content.field_services_button_label.0 }}</a></p>
					</div>
				</div>
				