<div id="gtco-portfolio" class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>{{ content.field_main_portfolio_title.0 }}</h2>
					<p>{{ content.field_main_portfolio_description.0 }}</p>
				</div>
			</div>

			<div class="row row-pb-md">
				<div class="col-md-12">
					<ul id="gtco-portfolio-list">
						{{ content.field_portfolio_list }}
					</ul>		
				</div>
			</div>

			<div class="row">
				{{ content.field_portfolio_button }}
			</div>

			
		</div>
	</div>