<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
	<div class="feature-center">
		<span class="icon">
			<i class="{{ content.field_counter_list_icon.0 }}"></i>
		</span>
		<span class="counter js-counter" data-from="0" data-to="{{ content.field_counter_list_limit.0 }}" data-speed="5000" data-refresh-interval="50">1</span>
		<span class="counter-label">{{ content.field_counter_list_label.0 }}</span>
	</div>
</div>