	<div id="gtco-products">
		<div class="gtco-container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>{{ content.field_products_main_title.0 }}</h2>
					<p>{{ content.field_products_main_description.0 }}</p>
				</div>
			</div>
			<div class="row animate-box">
			<div class="owl-carousel owl-carousel-carousel">
				{{ content.field_products_list }}
			</div>
			</div>
		</div>
	</div>