
<div class="col-md-3 col-sm-6">
	<div class="feature-center animate-box" data-animate-effect="fadeIn">
		<span class="icon">
			<i class="{{ content.field_features_icon_list.0 }}"></i>
		</span>
		<h3>{{ content.field_features_list_title.0 }}</h3>
		<p>{{ content.field_features_list_description.0 }} </p>
	</div>
</div>
				