	<div id="gtco-counter" class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>{{ content.field_counter_title.0 }}</h2>
					<p>{{ content.field_counter_description.0 }}</p>
				</div>
			</div>
			<div class="row">
				{{ content.field_counter_list }}	
			</div>
		</div>
	</div>