	<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url({{ content.field_header_image.0 }});">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					<div class="display-t">
						<div class="display-tc">
							<h1 class="animate-box" data-animate-effect="fadeInUp">{{ content.field_title1_.0 }}</h1>
							<h2 class="animate-box" data-animate-effect="fadeInUp">{{ content.field_title2.0}} <em>by</em>  <a href="{{content.field_label2_link.0 }}" target="_blank">{{ content.field_label1.0}}</a></h2>
							<p class="animate-box" data-animate-effect="fadeInUp"><a href="#" class="btn btn-white btn-lg btn-outline">{{ content.field_label2.0}}</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>